.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;

  &__img-container {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  .types-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__type {
      border: 1px solid #ccc;
      padding: 0.5rem;
      border-radius: 6px;
    }
  }
  .stats-container {
    margin: 1rem 0;
    &__stats {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      &__name {
        flex: 1;
        text-align: left;
      }
      &__progress {
        flex: 3;
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 1rem;
        }
      }
      &__percentage {
        display: none;
      }
    }
  }
}
