.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  border-radius: 6px;
  &__go-back-button {
    float: left;
    color: #1890ff;
    text-decoration: underline;
    cursor: pointer;
  }
  @media (max-width: 425px) {
    width: 90%;
  }
}
